* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6baedb;
  --secondary-color: #1d4dee;
  --text-color: #333;
  --background-color: #f4f4f4;
  --border-radius: 5px;
  --font-family: Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: var(--secondary-color);
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  --transition: var(--transition);
  transition: var(--transition);
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--primary-color);
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

form label {
  display: block;
  margin-bottom: 10px;
  margin: 10px 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
form button:hover {
  background-color: rgb(7, 218, 60);
  box-shadow: rgb(7, 218, 60) 0px 2px 4px;
  cursor: pointer;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para la caja de resultados */
#caja-resultado {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: #eef2f5;
  border-left: 5px solid var(--primary-color);
  font-family: monospace;
  white-space: pre-line;
  line-height: 1.6;
}

/* Clases para mostrar/ocultar */
.oculto {
  display: none;
}

.visible {
  display: block;
  animation: aparecer 0.5s ease-in;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
